html, body {
  height: 100%;
  width: 100%;
}

body {
  background-image: url("images/fire.png");
  background-color: #cccccc;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	height: 100%;
}

.wrapper{
	display: flex;
	flex-direction: column;
	height: 100%;
	width: 100%;
	margin: 0 auto;
	justify-content: stretch;
	
}


#container {
  width: 500px;
	height: 50px;
  border: 2px solid black;
/*   position: relative; */
}
#box {
  width: 0px;
  height: 50px;
/*   position: absolute; */
  background:black;
  color: white;
  font-size: 40px;
}
.percent {
  color: gray;
  text-align: center;
  position: absolute;
  left: 190px;
  font-size:20px;
  top:-5px;
  font-weight: bold;
}