html, body {
  height: 100%;
  width: 100%;
}

.background{
	display: flex;
	flex-direction: column;
	height: 100%;
	width: 100%;
	background-color: #97BCBE;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	justify-content: stretch;
}

.container{
	flex-grow: 1;
	display:flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 10px;
}

/* .video-train{
	align-self: center;
	height: 100%;
	widht: 100%;
} */